body {
  font-family: verdana;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}

.left {
  border: 1px solid black;
  padding: 12px;
  flex:1;
  background-color: #77a1b6;
  }

.mid {
  border: 1px solid black;
  border-right: none;
  border-left: none;
  padding: 12px;
  flex:2;
  
}

.right {
  border: 1px solid black;
  padding: 12px;
  flex:1;
  background-color: #77a1b6;
}

nav{
  display: flex;
  justify-content: space-around;
}

.space {
  text-indent: 25px;
}

.routineDiv{
  border: 1px solid black;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  background-color: #E2D1F9;
}

.actDiv{
  border: 1px solid black;
  padding: 1rem;
}
.actDiv:nth-child(even){
  background-color: #878d90;
}

.doubleSpace {
  text-indent: 40px;
}

form{
  display: flex;
  flex-direction: column;
}

h3{
  align-items: center;
  margin-left: 40%;
}

.routineList{
  background-color: #317773;
}

a{
  border: 1px solid black;
  background-color: #878d90;
  color:rgb(226, 226, 226);
}
button{
  border-radius: 4px;
  margin-top:1rem;
}